/**************** GLOBAL ****************/

body {
  margin: 0;
}

.app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/**************** NAV ****************/

.navbar-title {
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
}

/**************** MAIN CONTENT ****************/

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

/**************** AUTH ****************/

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.auth-input {
  margin-bottom: 20px;
}

.auth-input-text {
  text-indent: 10px;
}

.auth-message {
  font-size: .75em;
}

/**************** SEARCH ****************/

.search-bar {
  width: 900px;
}

.search-bar-form, .seller-search-bar-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field-border {
  border-right: 1px solid #E0E0E0;
}

.search-field-text {
  text-indent: 10px;
}

.event-field {
  min-width: 310px;
  padding-right: 20px
}

.date-field {
  min-width: 310px;
  text-indent: 5px;
}

.city-field {
  min-width: 200px;
  padding-right: 5px;
}

.seller-search-bar {
  width: 360px;
}

.seller-event-field {
  min-width: 310px;
  padding-right: 5px;
  text-indent: 10px;
}

@media (max-width: 920px) {
  .search-bar {
    width: 310px;
  }

  .search-bar-form {
    flex-direction: column;
  }

  .search-field-text {
    border-right: none;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    margin: 0;
    min-width: 310px;
  }
}

/**************** RESULTS ****************/

.list {
  width: 920px;
}

.list-item {
  margin: 10px;
}

.list-item:hover {
  cursor: pointer;
}

@media (max-width: 920px) {
  .list {
    width: 500px;
  }
}

/**************** USER PROFILE ****************/

.account-activity {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  margin-bottom: 20px;
}

.activity-item {
  border: 1px solid black;
}

/**************** SPINNER ****************/

.spinner {
  position: absolute;
  top: 64px;
  width: 100%;
}
